.img {
  height: 130px;
  width: 100%;
}
.descriptionBlock {
  padding: 10px;
}
.profile {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 20px;
  position: relative;
  margin-bottom: 45px;
}
.avatar {
  border-radius: 50%;
  max-width: 100%;
}
.info {
  flex-basis: 50%;
}
.full_name {
  font-size: 24px;
  font-weight: 600;
  color: #251313;
  text-transform: capitalize;
}
.about_me {
  font-size: 16px;
  font-weight: 400;
  color: #696969;
  margin-bottom: 5px;
}
.status {
  cursor: pointer;
  transition: all 0.2s;
  line-height: 13px;
  font-size: 16px;
  padding: 5px 0;
  margin: 0;
}
.status:hover {
  border-radius: 2px;
  background-color: #f0f2f5;
}
.ava_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.upload_ava {
  display: none;
}
.ava_uploader {
  text-align: center;
  background: linear-gradient(0deg, #595959ea 0%, #00000000 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  bottom: 0;
  transition: opacity 0.2s;
}
.ava_label {
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
}
.ava_block:hover .ava_uploader {
  opacity: 1;
}
.contact_title {
  flex-basis: 30%;
  font-size: 18px;
  color: #183349;
  font-weight: 500;
  text-transform: capitalize;
}
.contact_value {
  font-size: 14px;
  font-weight: 500;
  flex-basis: 70%;
  text-align: right;
}
.ava_image {
  position: relative;
}
.profile_data {
  border-top: 1px solid #c4c4c4;
  padding: 10px 0;
  margin-top: 5px;
  position: relative;
}
.activate_edit_btn {
  position: absolute;
  top: -60px;
  right: 0;
  padding: 4px 7px;
  font-size: 14px;
  border-radius: 50%;
}
.contact {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
