.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.users {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff70;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  width: 70%;
  border: 1px solid #fff;
  transition: all 0.2s;
}
.user:hover {
  box-shadow: 0px 0px 5px -1px #0761cf;
}
.user_info {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.user_avaBlock {
  flex-basis: 15%;
}
.location {
  text-align: right;
}
.person,
.location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.follow {
  border-color: lawngreen;
  outline: none;
}
.unfollow {
  outline: none;
  border-color: coral;
}

.name {
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}
.status {
  font-size: 15px;
  color: #7c7c7c;
  font-style: italic;
}
