.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.users {
  padding: 15px;
}
.user {
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff70;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
.user_info {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.user_avaBlock {
  flex-basis: 15%;
}
.location {
  text-align: right;
}
.person,
.location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.follow {
  border-color: lawngreen;
  outline: none;
}
.unfollow {
  outline: none;
  border-color: coral;
}
.selected {
  font-weight: bold;
}
.pages {
  display: flex;
}
.name {
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}
.status {
  font-size: 15px;
  color: #7c7c7c;
  font-style: italic;
}
