.header {
  height: 80px;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0.25turn, #f69d3c, #ebf8e1, #3f87a6);
  border-bottom: 10px solid #c4c4c4;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}
.logo {
  width: 55px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.login {
  margin-right: 15px;
}
.login_block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login_info {
  margin-right: 15px;
}

.login_name {
  background-color: #ee161f;
}
.login_name,
.login_email {
  color: #fff;
  text-align: right;
}
