.nav {
  flex-basis: 19%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  background-color: #c8c8c8cf;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
a {
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
  transition: all 0.2s;
}
a.active {
  color: #FFFFFF;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}
.item {
  padding: 5px;
}