.textareaContainer {
  width: 100%;
  position: relative;
}
.formControl.error input,
.formControl.error textarea {
  border: 1px solid #d40000;
}
.formControl.error span {
  color: #d40000;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 13px;
  left: 115px;
  font-size: 13px;
}

.formControl input {
  padding: 8px;
  border-radius: 10px;
  font-size: 15px;
  margin: 5px 0;
  outline: none;
  border: 1px solid #c4c4c4;
}
