.btn {
  background-color: transparent;
  cursor: pointer;
  outline-color: transparent;
  outline: none;
  border-radius: 5px;
  transition: all 0.2s;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:disabled {
  background-color: #c4c4c4;
  border-color: #fff;
  user-select: none;
  cursor: wait;
}
